<%if @cart.checkout_status == "yes" %>

<h2>Your Order Summary</h2>

	<%= render partial: "cart", locals: {cart: @cart} %>

	<h4>Thank you - come again! </h4>

<%@cart.destroy%>



<%else%>


	<%= render partial: "cart", locals: {cart: @cart} %>
 


<p><%=link_to "Back to the Store", store_path%></p>

<%= button_to 'Checkout', checkout_path %>

<%end%>